@charset "UTF-8";
/* scss */
.loginbody header {
  position: relative; }
  .loginbody header .loginbg {
    width: 100%;
    min-height: 88px; }
  .loginbody header .title {
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden; }
    .loginbody header .title img {
      width: 80px;
      margin-top: 4px;
      display: block;
      float: left; }
    .loginbody header .title div {
      width: 200px;
      height: 80px;
      float: left;
      color: #FFF;
      text-align: center; }
      .loginbody header .title div .a {
        font: 30px/50px "微软雅黑";
        font-weight: 700; }
.loginbody section {
  padding-top: 30px; }
  .loginbody section .fly-panel {
    width: 310px;
    margin: 0 auto; }
    .loginbody section .fly-panel .layui-form-item {
      width: 100%; }
    .loginbody section .fly-panel .layui-btn {
      display: block;
      width: 300px;
      background-color: #1c7beb; }
.loginbody .layui-footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0; }

.layui-btn[lay-filter] {
  background-color: #1c7beb; }

.contain {
  margin-left: 0; }

#pagination .layui-laypage-em {
  background-color: #1E9FFF; }

td a {
  color: #1c7beb; }

textarea,
.layui-textarea {
  resize: none; }

.layui-header .layui-logo {
  color: #fff; }
  .layui-header .layui-logo img {
    width: 50px; }

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
  background-color: #000; }

div.layui-body {
  padding: 12px 20px;
  background-color: #f4f8fb; }

.mainBody {
  height: 100%; }
  .mainBody .layui-breadcrumb {
    visibility: visible; }
  .mainBody .contain {
    min-width: 630px;
    padding: 15px;
    min-height: 510px;
    background-color: #fff; }

.classnew .layui-form-label,
.classmod .layui-form-label {
  width: 110px; }

.layui-form-item {
  width: 600px; }

.layui-elem-quote {
  padding: 5px 15px;
  background: #fff;
  border-left: 5px solid #1E9FFF; }

.evallist .contain .layui-form:after {
  display: block;
  content: "";
  clear: both; }
.evallist .contain .layui-input-block {
  margin-left: 0px;
  float: left;
  width: 160px; }
.evallist .contain .layui-form-label {
  width: auto; }
.evallist .contain .layui-input-block > button {
  margin-left: 30px;
  background-color: #1E9FFF; }
.evallist .contain table {
  margin-top: 30px; }
.evallist .contain #pagination {
  float: right; }

.evalltempl {
  min-width: 912px; }
  .evalltempl .addnew {
    float: right;
    height: 30px;
    margin-bottom: 15px;
    line-height: 30px;
    background-color: #1E9FFF; }
  .evalltempl #pagination {
    float: right; }
    .evalltempl #pagination .layui-laypage-em {
      background-color: #1E9FFF; }
  .evalltempl .layui-btn.btn {
    background-color: #1c7beb; }
  .evalltempl .layui-btn.tools {
    height: 20px;
    line-height: 20px; }

.personal .layui-form-label {
  width: 110px; }
.personal .avatar > label {
  display: block;
  width: 160px;
  height: 160px;
  background: url(../images/icons/tianjiaGN.svg) no-repeat 30px 30px;
  background-size: 100px 100px;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #E6E6E6;
  cursor: pointer; }
.personal #file {
  width: 0px;
  height: 0px;
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.users .contain {
  margin-left: 0;
  min-width: 920px; }
  .users .contain .layui-form:after {
    display: block;
    content: "";
    clear: both; }
  .users .contain .layui-input-block {
    margin-left: 0px;
    float: left;
    width: 160px; }
  .users .contain .layui-form-label {
    width: auto; }
  .users .contain .layui-input-block > button {
    margin-left: 30px;
    background-color: #1E9FFF; }
.users .tool {
  float: left;
  width: 400px; }
  .users .tool .open,
  .users .tool .new {
    background-color: #1E9FFF; }
.users #pagination {
  float: right; }
  .users #pagination .layui-laypage-em {
    background-color: #1E9FFF; }

.userlimitsbody .tool {
  float: left; }
  .userlimitsbody .tool .layui-btn.new {
    background-color: #1c7beb; }
.userlimitsbody #pagination {
  float: right; }

.layui-form .limitsele {
  display: inline-block !important; }

#layerform {
  margin-top: 20px; }

.pwdmodbody .layui-form-label {
  width: 110px; }

.limitssele {
  width: 400px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 50px; }
  .limitssele li {
    margin-left: 30px; }

.limitsele-Modal {
  width: 400px;
  margin: 0 auto; }
  .limitsele-Modal .modal-dialog {
    height: 520px; }
    .limitsele-Modal .modal-dialog .modal-content {
      width: 400px;
      height: 100%; }
      .limitsele-Modal .modal-dialog .modal-content .layui-input-block {
        margin: 0; }
      .limitsele-Modal .modal-dialog .modal-content .layui-form-item {
        width: 400px;
        padding-left: 95px; }
        .limitsele-Modal .modal-dialog .modal-content .layui-form-item button {
          display: inline-block;
          margin: 0 40px 20px 0; }

.unchecked .layui-btn, .checked .layui-btn {
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  vertical-align: 1px;
  background-color: #1c7beb; }
.unchecked .searchblock, .checked .searchblock {
  float: right; }
.unchecked .layui-input, .checked .layui-input {
  width: 200px;
  height: 30px;
  display: inline-block;
  font-size: 16px; }
.unchecked .tool, .checked .tool {
  padding-top: 8px;
  float: left; }
.unchecked #pagination, .checked #pagination {
  float: right; }
  .unchecked #pagination .layui-laypage-em, .checked #pagination .layui-laypage-em {
    background-color: #1E9FFF; }
.unchecked #detailshow, .checked #detailshow {
  position: absolute;
  z-index: 999;
  background: #F4F8FB;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 15px 10px 10px 15px; }
  .unchecked #detailshow div, .checked #detailshow div {
    padding: 20px;
    background: #fff; }
  .unchecked #detailshow .xiangxi, .checked #detailshow .xiangxi {
    margin-top: 10px; }
    .unchecked #detailshow .xiangxi .layui-btn, .checked #detailshow .xiangxi .layui-btn {
      display: block;
      margin-top: 10px; }

.uncheck-Modal {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px; }
  .uncheck-Modal .modal-dialog {
    margin: 0; }
    .uncheck-Modal .modal-dialog .modal-content {
      width: 700px;
      padding-bottom: 30px; }
  .uncheck-Modal .layui-text > div {
    width: 680px;
    padding: 15px 30px 00px; }
  .uncheck-Modal .layui-text h3 {
    font-weight: 600; }
  .uncheck-Modal tr > td:nth-child(2) {
    text-align: right; }

.star {
  width: 22px;
  height: 20px;
  display: inline-block;
  background: url(../images/icons/icon_score_checked.png) no-repeat; }

.statisticbym .layui-btn, .statisticbys .layui-btn, .statisticbyy .layui-btn {
  background-color: #1c7beb; }
.statisticbym .contain, .statisticbys .contain, .statisticbyy .contain {
  min-height: 0;
  height: auto; }
  .statisticbym .contain .layui-form-label, .statisticbys .contain .layui-form-label, .statisticbyy .contain .layui-form-label {
    width: 110px; }
.statisticbym p.title, .statisticbys p.title, .statisticbyy p.title {
  padding: 20px 0 0;
  text-align: center;
  background-color: #f4f8fb; }
.statisticbym .res, .statisticbys .res, .statisticbyy .res {
  margin-top: 20px;
  background-color: #fff; }

.modal-header {
  padding: 6px;
  background: #1c7beb;
  color: #fff; }

.evalltemplModal .item {
  margin: 8px 0; }
  .evalltemplModal .item input {
    width: 350px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px; }
  .evalltemplModal .item .titleIpt {
    background-color: #e9f7fe; }
  .evalltemplModal .item button {
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
    font-size: 16px; }
  .evalltemplModal .item button.add {
    background-color: #1c7beb;
    border: none;
    color: #FFF;
    text-align: center; }
  .evalltemplModal .item button.add:hover {
    background-color: #1c7beb;
    opacity: 0.8; }
  .evalltemplModal .item button.rm {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #1c7beb;
    color: #1c7beb;
    text-align: center; }
  .evalltemplModal .item button.rm:hover {
    background-color: #eee; }
  .evalltemplModal .item span.name {
    display: inline-block;
    width: 100px;
    text-align: right; }
